@page "/admin/roommanager"

<h1>Room Manager</h1>

<div class="mt-4">
    <h3>Quick Actions</h3>
    <div class="btn-group" role="group">
        <NavLink class="btn btn-primary" href="admin">Dashboard</NavLink>
        <NavLink class="btn btn-primary" href="admin/usermanager">Manage Users</NavLink>
        <NavLink class="btn btn-primary" href="admin/roommanager" ActiveClass="active">Manage Rooms</NavLink>
        <NavLink class="btn btn-primary" href="admin/reservationmanager">Manage Reservations</NavLink>
        <NavLink class="btn btn-primary" href="admin/amenitymanager">Manage Amenities</NavLink>
    </div>
</div>

<p>This is the room manager page.</p>