@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a href="login">Login</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
